<head>
        <title>Home Page</title>
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/png" href="/images/logo.png" />

    
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n"
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    
        <!-- Bootstrap Style Sheets -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
            crossorigin="anonymous">
    
        <!-- Custom CSS -->
        <link href="/styles/custom.css" rel="stylesheet" type="text/css">
    
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
    </head>