<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">
    <img id="logo" src="/images/to_do.png" height="60px" width="100px">
    </a>
  </nav>
  <header>
      <a href="/profile">Profile</a>
      <a href="/to-do">To-Do's</a>
          <form action= "/logout" method="POST">
              <input type="Submit" value="Logout">
          </form>
  </header>