<!-- views/partials/nav.ejs -->

    <!-- Nav Bar -->
    <nav id="nav-bar">
        <img src="/images/ow-navimg.png">
        <button class="dropdown"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
        <button class="user"><i class="fa fa-user-circle" aria-hidden="true"></i></button>
    </nav>