<!-- views/partials/navbar.ejs -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Heroes Never Die</title>
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <!---favicon script-->
  <link rel="shortcut icon" type="image/png" href="/images/logo.png" />

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.bracket.min.js"></script>
  <script type="text/javascript" src="/scripts/bracketgenerator.js"></script>

  <!-- Bootstrap Style Sheets -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">


  <!-- Custom CSS -->
  <link href="/styles/custom.css" rel="stylesheet" type="text/css">
  <link href="/styles/form.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/styles/jquery.bracket.min.css" />


  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
</head>
<nav class="navbar navbar-dark" style="background-color: #191E21;">
    <img src="/images/ow-navimg.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if (email !== undefined) { %> 
              <a class="dropdown-item">Logged in as: <%= email %></a>
              <a class="dropdown-item logout" href="javascript:void(0)" id="test">Log Out</a>
            <% } else { %>
              <a class="dropdown-item" href="/users/new">Register</a>
            <a class="dropdown-item" href="/users/login">Log In</a>
            <% } %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tournaments/new">Create a Tournament</a>
        </li>
      </ul>
    </div>
  </nav>
