<div class="row">
  <div class="col-md-6 tourney-list">
    <h2 class="sub-header">Manager</h2>
    <div class="table-responsive">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th>Tournament Name</th>
            <th>Status</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody class="tournament-details">
          <tr>
            <td>nameholder</td>
            <td>statholder</td>
            <td>linkholder</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
  
  <div class="col-md-6 tourney-list">
    <h2 class="sub-header">Player</h2>
    <div class="table-responsive">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th>Tournament Name</th>
            <th>Status</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody class="tournament-details">
          <tr>
            <td>nameholder</td>
            <td>statholder</td>
            <td>linkholder</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>