<div id="share">
<!-- fix share url once we put on heroku or something. 
Twitter works right now, reddit might work, facebook does not work -->
  <input class="copy-link" type="text" name="link-addy" placeholder="localhost:8080/t/<%=tournamentID%>" value="localhost:8080/t/<%=tournamentID%>" title="Tournament URL">
  <i class="fa fa-clipboard" aria-hidden="true" data-link="localhost:8080/t/<%=tournamentID%>" title="Copy to Clipboard"></i>
  
  <a href="http://reddit.com/submit?url=example.org" target="_blank">
      <i class="fa fa-reddit-square" aria-hidden="true" title="Share to Reddit"></i>
  </a>

  <a href="https://twitter.com/intent/tweet?text=Overwatch%20Tournament&amp;url=https%3A%2F%2Flocalhost%3A8080%2Ftournaments%2F<%=tournamentID%>%2F" target="_blank">
      <i class="fa fa-twitter-square" aria-hidden="true" title="Tweet it"></i>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
      <i class="fa fa-facebook-square" aria-hidden="true" title="Share to Facebook"></i>
  </a>
</div>