<!DOCTYPE html>
<html lang="en">

    <head>
        <% include partials/navbar %>
    </head>

    <body>

        <main class="container">
            <h1>We Couldn't Find That Page</h1>
            <div class="image-404">
              <img src="/images/Spray_Soldier_76_Trick_or_Treat.png">
            </div>
            <h3>Now get off my lawn...</h3>
        </main>

    </body>

</html>