<!DOCTYPE html>
<html lang="en">

    <head>
        <% include partials/navbar %>
    </head>

    <body>

        <main class="container">
            <h1>FAQ</h1>
            <h3>What is TourneyWatch?</h3>
            <p>TourneyWatch is a tournament seeder / organizer that is tailored towards fans and players of the Blizzard game 'Overwatch'.
                It's a purely fan made, non-profit web app designed by fans of the game itself, made with the intention of organizing and
                seeding teams in such a way that the matched are more cometitive and thus more fun to watch!
            </p>
            <h3>How do I start?</h3>
            <p>With Tourneywatch you can view the matches right away without need for signing up, however we do recommend registering so
                so that you can participate in and host your own tournaments! Tournament makers can create a new tournaments from the navbar
                option, while players will have to wait for invites to tournaments in order to participate in them. Once you've been invited
                you'll be notified when the tournament is going to begin.
            </p>
            <h3>What makes this different from any other tournament app?</h3>
            <p>TourneyWatch specifies on the need for balanced and fun to watch tournaments. Having a team loaded with fantastic players is
                alright, but it becomes stale when there's no real competition. Our goal is to seed the teams with a balance of player skill
                level so that the tournament is more engaging, more fun, and less frustrating on the tournament own. We also have a list of
                great features that help the tournament owner really run their tournament like a proper e-sports tournament, such as team
                swapping, twitch integration, player statistics, and a tournament bracket built into the app. We also are planning to add more
                features to help the player and tournament owner alike.
            </p>
            <h3>Can I still use some of these features if I don't run a tournament?</h3>
            <p>Some of these features, such as altering the bracket and swapping players are obviously reserved exclusively for the owner
                of that particular tournament, however twitch feeds will still be visible and the bracket itself can still be viewed along
                with player information for those participating!
            </p>
    



        </main>

    </body>

</html>