<!DOCTYPE html>
<html lang="en">

<head>
</head>

  <body>
      <% include partials/navbar %>
    <main class="container">

      <h1>We're All Tournament Runners Now</h1>

      <% if(email) { %>
      <% include partials/tournament_list %>
      <% } %>
      
      <div>
        <img class="banner" src="/images/ow-banner.jpg">
      </div>

      <br>

      <div class='index'> 
      
        <p>TourneyWatch is a web application used to seed and run tournaments in a local setting, 
          using information gathered through the Overwatch API and our application, you can run local Overwatch 
          tournaments without having to stress over how fair or unfair the teams are! Taking the Blizzard ID's 
          of the participants we calculate the teams based on player statistics that are recorded from previous 
          gameplay, bringing the tournament the most balanced and therefore most enjoyable gameplay viewing and 
          playing experience.
        </p>

        <a href="/users/new" class="btn btn-default index-page">Get Started</a>
        <a href="/faq" class="btn btn-default index-page">How Does this Work?</a>

      </div>
    </main>
  </body>

</html>