<!DOCTYPE html>
<html lang="en">

<head>


</head>
<% include partials/navbar %>

    <body>

    <script src="/scripts/register.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet">
    <link href="/styles/register.css" rel="stylesheet" type="text/css" h/>

        <main class="container">

            <div id="ui-header">
                <h2>Register</h2>
                <p>Already signed up? Log in <a href="/users/login">here</a></p>
            </div>


            <form id="registration-form" action="/users/new" method="POST" style="margin:50px 150px 20px 150px;">
                <div class="form-row">
                    <div class="form-label">
                        <label> Email</label>
                    </div>
                    <div class="form-box">
                        <input id="entry-email" type="email" name="email" placeholder="Email Address" style="width: 300px" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        <label> Battle.net ID</label>
                    </div>
                    <div class="form-box">
                        <input id="entry-battlenet" type="text" name="battlenet" placeholder="Battle.net ID" style="width: 300px" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        <label> Password</label>
                    </div>
                    <div class="form-box">
                        <input id="entry-password" type="password" name="password" placeholder="Password" style="width: 300px" required>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="form-label">
                        <label></label>
                    </div>
                    <div class="form-box">

                    </div>
                </div>

            </form>
            <div class="submit-button">
                <button class="submit" type="submit" value="Submit">Submit</button>
            </div>



        </main>

    </body>

</html>
