<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        window.errorMsg = `<%= error %>`;
    </script>
</head>
<% include partials/navbar %>
    <script src="/scripts/tournament_new.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker();
        });
    </script>

    <body>

        <main class="container">

            <h2> Create A New Tournament</h2>
            <div class="tournament-alert"></div>
            <form id="new-tournament-form" action="/tournaments/new" method="POST" style="margin:150px;">
                <div class="form-row">
                    <div class="form-label">
                        <label> Number of Teams</label>
                    </div>
                    <div class="form-dropdown">
                        <select id="entry-team" name="no_of_teams">
                            <option value="8"> 8</option>
                            <option value="16">16</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        <label> Tournament Name</label>
                    </div>
                    <div class="form-box">
                        <input id="entry-name" type="text" name="name" placeholder="Tournament Name" style="width: 300px" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        <label> Tournament Description</label>
                    </div>
                    <div class="form-box">
                        <input id="entry-description" type="text" name="description" placeholder="Tournament Description" style="width: 300px">
                    </div>
                </div>
                <div class="form-row">
                        <div class="form-label">
                            <label> Date</label>
                        </div>
                        <div class="form-box">
                                <input id="datepicker" />
                            </div>
                    </div>

                <div class="form-row">
                    <div class="form-label">
                        <label>Twitch Channel Name (Optional)</label>
                    </div>
                    <div class="form-box">
                        <input id="entry-channel" type="text" name="channel_name" placeholder="Example: https://www.twitch.tv/yournamehere" style="width: 300px">
                    </div>
                </div>
                </form>

                <button class="submit">Submit</button>

        </main>

    </body>

</html>
