<!DOCTYPE html>
<html lang="en">

    <head>
        <% include partials/navbar %>
    </head>

    <body>

        <main class="container">
            <h1>OOPS...</h1>
            <h3>Looks like the page you asked for doesn't exist!</h3>
    
        </main>

    </body>

</html>