<!DOCTYPE html>
<html lang="en">


<% include partials/navbar %>

    <body>
        <main>
            <container>
                <br>
                <br>
                <div id="save" style="display: inline-block;">

                </div>
                <br>
                <br>
                <button id="target" class="submit butt0n">
                    Save
                </button>
            </container>
        </main>



    </body>

</html>