<!DOCTYPE html>
<html lang="en">

<% include partials/navbar %>
<script src="/vendor/jquery.bracket.min.js"></script>
<script src="/vendor/bracketgenerator.js"></script>
<script src="/scripts/tournament_view.js"></script>
    <body>
        <main>
            <container>
                <center>
                <div id="save" style="display: inline-block;">

                </div>
            </center>
            </container>
        <button id="target" class="submit butt0n">Save</button>


                <button id="target" class="submit butt0n">Save</button>
        </main>



    </body>

</html>
