<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>


</head>
<% include partials/navbar %>

    <body>

        <main>
                <h2> FAQ</h2>


        </main>

    </body>

</html>