<!DOCTYPE html>
<html lang="en">

    <% include partials/header %>

    <body>

        <% include partials/navbar %>

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>We're All Coders Now...</h1>
                <p>I've had too much coffeeeeee</p>
            </div>
        </section>


        <% include partials/footer %>

        <% include partials/scripts %>

    </body>

</html>