<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
  <script>
      window.tournamentID = <%=tournamentID%>;
      window.isOwner = <%= isOwner %>;
  </script>
</head>
  <body>
      <% include partials/navbar %>
      <script src="/scripts/tournament_view.js"></script>
      <script src="/scripts/bracketgenerator.js"></script>
      <script src="/vendor/jquery.bracket.min.js"></script>
      <link href="/vendor/jquery.bracket.min.css" rel="stylesheet" type="text/css" h/>
      <link href="/styles/tournament_view.css" rel="stylesheet" type="text/css" h/>
      <main class="container">
        <div class="tournamentheader">
          <!-- Tournament Name gets appended here from App.js -->

        </div>
        <div class="share-button">
          <% include partials/share_button %>
        </div>
        <% if (twitchChannel !== null) { %>
        <h3> <%= twitchName %> </h3>
        <div class="twitch-display">
          <%- twitchChannel %>
        </div>
        <% } %>


          <!-- BRACKET CODE WILL GO HERE (If user is Tournament Runner - Allow Edits . If not - Remove edit ability) -->
          <container>
                  <center>
                  <div id="save" style="display: inline-block;">

                  </div>
              </center>
          </container>

        <% if (isOwner)  {%>
          <div style="text-align: center">
            <button id="target" class="save button">Save</button>
          </div>
        <% } %>

          <!-- Bootstrap Cards will go Here (Users and Admins can see) -->
          <div class="container">
              <div class="row">

              </div>
          </div>
        <!-- Swap players button -->


        <% if (isOwner)  {%>
          <div class = 'owner-buttons'>
            <button id="swap-modal-button">Swap players</button>
            <button id="email-notifications-button">Send E-mail Notification</button>
          </div>

          <!-- Swap players Modal -->
          <div id="swap-players-modal" class="modal">
            <div class="modal-content">
              <h1>Swap Players?</h1>
              <div class="swap-players-container">
              </div>
              <button id="swap-players-button">Confirm!</button>
            </div>
          </div>

          <!-- Send Email Modal -->
          <div id="send-email-modal" class="modal">
            <div class="modal-content">
              <h1>Placeholder</h1>
            </div>
          </div>


        <% } %>

      </main>





  </body>

</html>
