<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>
</head>
    <body>
        <% include partials/navbar %>
        <main>
            <h1>Tournament Name Here</h1>

            <!-- BRACKET CODE WILL GO HERE -->

            <!-- Bootsrtap Cards will go Here -->
             <!-- <div class="card mb-3" style="max-width: 20rem;">
                    <div class="card-header"></div>
                    <div class="card-body">
                      <h4 class="card-title">Light card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>-->

            <div class="card-container">
            </div>
        </main>
    </body>

</html>