<!DOCTYPE html>
<html lang="en">

<head>
  
  <script>
      window.tournamentID = <%=tournamentID%>;
      window.isOwner = <%= isOwner %>;
  </script>
</head>
  <body>
      <% include partials/navbar %>
      <script src="/scripts/tournament_view.js"></script>
      <script src="/scripts/bracketgenerator.js"></script>
      <script src="/vendor/jquery.bracket.min.js"></script>
      <link href="/vendor/jquery.bracket.min.css" rel="stylesheet" type="text/css" h/>
      <main>
        <div class="tournamentheader">
          <!-- Tournament Name gets appended here from App.js -->
        </div>
        <iframe src="https://player.twitch.tv/?channel=whtmage" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
          <!-- BRACKET CODE WILL GO HERE (If user is Tournament Runner - Allow Edits . If not - Remove edit ability) -->
          <container>
                  <center>
                  <div id="save" style="display: inline-block;">
  
                  </div>
              </center>
          </container>

        <% if (isOwner)  {%>
          <div style="text-align: center">
            <button id="target" class="save button">Save</button>
          </div>
        <% } %>

          <!-- Bootstrap Cards will go Here (Users and Admins can see) -->
          <div class="container">
              <div class="row">
              
              </div> 
          </div>
      </main>
  </body>

</html>