<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>
</head>
    <body>
        <% include partials/navbar %>
        <main>
            <h1>Tournament Name Here</h1>

            <!-- BRACKET CODE WILL GO HERE -->

            <!-- Bootsrtap Cards will go Here -->
            <div class="container">
                <div class="row">
                
                </div> 
            </div>
        </main>
    </body>

</html>