<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/styles/jquery.bracket.min.css" /> 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.bracket.min.js"></script> 
</head>
<% include partials/navbar %>

    <body>

        <main>
                

        </main>

    </body>

</html>