<!DOCTYPE html>
<html lang="en">
  <head>
    
    <script>
      window.tournamentID = <%=tournamentID%>;
    </script>
  </head>
  <body>
    <% include partials/navbar %>
    <script src="/scripts/tournament_enroll.js"></script>
    <main>
      <div class="container">
        <h1> <%= name %> </h1>
        <h3> <%= description %> </h3>
        <h3> Number of Teams: <%= teamCount %> </h4>
        <div class="enroll-now">
          <button class="enroll-me">Enroll in this Tournament!</button>
        </div>
      </div>
    </main>
  </body>
</html>