<!DOCTYPE html>
<html lang="en">

<head>
</head>
    <body>
        <% include partials/navbar %>
        <main>
          <h1>My Ultimate is Still Charging...</h1>
          <p>This tournament is not ready just yet! Check back soon...</p>
        </main>
    </body>

</html>