<!DOCTYPE html>
<html lang="en">

<head>


</head>
<% include partials/navbar %>
<script src="/scripts/tournament_new.js"></script>

    <body>

        <main>

            <h2> Create A New Tournament</h2>

            <form id="new-tournament-form" action="/tournaments/new" method="POST" style="margin:150px;">
                <div class="form-row">
                    <div class="form-label">
                        <label> Number of Teams</label>
                    </div>
                    <div class="form-dropdown">
                        <select id="entry-team">
                            <option value="8">8</option>
                            <option value="16">16</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        <label> Tournament Name</label>
                    </div>
                    <div class="form-box">
                        <input id="entry-name" type="text" name="name" placeholder="Tournament Name" style="width: 300px">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        <label> Tournament Description</label>
                    </div>
                    <div class="form-box">
                        <input id="entry-description" type="text" name="description" placeholder="Tournament Description" style="width: 300px">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="form-label">
                        <label></label>
                    </div>
                    <div class="form-box">
                        <button class="submit butt0n" type="submit" value="Submit">Submit</button>
                    </div>
                </div>
            </form>

        </main>

    </body>

</html>