<!DOCTYPE html>
<html lang="en">

<head>
</head>
    <body>
        <% include partials/navbar %>
        <main>
<<<<<<< HEAD
          <div class="tournamentheader">
            <!-- Tournament Name gets appended here from App.js -->
          </div>
            <!-- BRACKET CODE WILL GO HERE (If user is Tournament Runner - Allow Edits . If not - Remove edit ability) -->
=======
            <h1>Tournament Name Here</h1>
            

            <!-- BRACKET CODE WILL GO HERE -->
>>>>>>> master
            <container>
                    <center>
                    <div id="save" style="display: inline-block;">
    
                    </div>
                </center>
            </container>

          <%= if (user === owner)  {%>
            <div style="text-align: center">
              <button id="target" class="save button">Save</button>
            </div>
          <%= } %>

            <!-- Bootstrap Cards will go Here (Users and Admins can see) -->
            <div class="container">
                <div class="row">
                
                </div> 
            </div>
        </main>
    </body>

</html>