/* Global layout */
body,html{
  min-height: 100%;
}
body {
  background: #191E21 url("/images/overwatch-logo.jpeg") 50% 50% no-repeat;
  background-size: cover;
  }

main {
  font-family: 'Oswald', sans-serif;
  color: white;
  width: 1050px;
  height: -webkit-fill-available;
  overflow-y: scroll;
  margin: auto;
  padding-right:20px;
  padding-left:20px;
  padding-top: 50px;
  padding-bottom: 140px;
  background-color: rgba(36, 41, 45, 0.9);
  border-left: solid 1px #F7931D;
  border-right: solid 1px #F7931D;
  }

  ::-webkit-scrollbar { 
    display: none; 
}

  main h1 {
    text-align: center;
    padding:20px;
  }

  div img{
    max-width: 100%;
    max-height: 100%;
    border: solid 1px #F7931D;
  }

  div.container.index p{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a.btn.btn-default{
    float: left;
    margin-left: 25%;
    background-color: #474D57;
    color:white;
    border-color: #C0C1C2;
  }

  div button.how-it-works{
    float: right;
    margin-right: 20%;
    background-color: #474D57;
    color:white;
    border-color: #C0C1C2;
  }

  /* Nav Bar Buttons */

  #nav-bar {
    background: #191E21;
    color: #F7931D;
    text-align: center;
    font-size: 30px;
    position: fixed;
    width: 100%;
  }

  nav.navbar.navbar-dark{
    position: fixed;
    width:100%;
    z-index: 1;
  }

  nav.navbar.navbar-dark img{
    height:50px;
    margin: auto;
  }

  nav p{
    font-size: 12px;
    color: white;
    float: left;
    padding-top: 20px;
  }

  /* Tournament Cards */

div.card.mb-3{
  background-color: #474D57;
  text-align: center;
  margin: auto;
}

div.card.mb-3 p{
  height:10px;
}

div.card.mb-3 div.card-header {
  background-color: #F7931D;

}

/* Bootstrap Table */

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #474D57;
}
