/* Global layout */
body,html{
  min-height: 100%;
}
body {
  background: #191E21 url("/images/overwatch-logo.jpeg") 50% 50% no-repeat;
  background-size: cover;
  }

main {
  font-family: 'Oswald', sans-serif;
  color: white;
  width: 1050px;
  height: 100vh;
  overflow-y: scroll;
  margin: auto;
  padding-right:20px;
  padding-left:20px;
  padding-top: 50px;
  padding-bottom: 140px;
  background-color: rgba(36, 41, 45, 0.9);
  border-left: solid 1px #F7931D;
  border-right: solid 1px #F7931D;
  }

p {
  text-align: center;
}

  ::-webkit-scrollbar { 
    display: none; 
}

  main h1 {
    text-align: center;
    padding:20px;
  }

  main h3 {
    text-align: center;
    padding:20px;
  }

  div img{
    max-width: 100%;
    max-height: 100%;
    border: solid 1px #F7931D;
  }

  div.container.index p{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a.btn.btn-default{
    float: left;
    margin-left: 25%;
    background-color: #474D57;
    color:white;
    border-color: #C0C1C2;
  }

  div button.how-it-works{
    float: right;
    margin-right: 20%;
    background-color: #474D57;
    color:white;
    border-color: #C0C1C2;
  }

  /* Nav Bar Buttons */

  #nav-bar {
    background: #191E21;
    color: #F7931D;
    text-align: center;
    font-size: 30px;
    position: fixed;
    width: 100%;
  }

  nav.navbar.navbar-dark{
    position: fixed;
    width:100%;
    z-index: 1;
  }

  nav.navbar.navbar-dark img{
    height:50px;
    margin: auto;
  }

  nav p{
    font-size: 12px;
    color: white;
    float: left;
    padding-top: 20px;
  }

  /* Tournament Cards */

div.card.mb-3{
  background-color: #474D57;
  margin: auto;
}

div.card.mb-3 p{
  height:10px;
}

div.card.mb-3 div.card-header {
  background-color: #F7931D;
}

div.card.mb-3 div.card-body .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

div.card.mb-3 div.card-body .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

div.card.mb-3 div.card-body:hover .tooltiptext{
  visibility: visible;
}

div.row{
  padding-top: 20px;
}

/* Bootstrap Table */

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #474D57;
}

/* Enroll Button */
div.enroll-now{
  text-align: center;
}

div.enroll-now button{
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: Helvetica,sans-serif;
}

div.enroll-now button:active { 
  background-color: #191E21;
  color: #F7931D;
  cursor: pointer;

}

div.twitch-display{
  text-align: center;
}

/* Tournament Listing for Individual Users */

.tourney-list{
  margin: 0 auto;
}

.sub-header{
  margin-left: 15px;
  margin-top: 15px;
}