.form-row {
    margin-bottom: .5em;
  }
  
  .form-label {
    width: 22.12%;
    text-align:right;
    padding-top:10px;
    margin-right:30px
  }
  
  .submit.butt0n {
    color: #fff;
    background-color: #F7931D;
    border: 1px solid #dee4e7;
    outline: 2px;
    border-radius: .25em;
    font-family: Helvetica,sans-serif;
    font-size: 1em;
    width:80px;
    height:30px;
  }
  .submit.butt0n:hover { 
    background-color: #191E21;
    color: #F7931D;
    cursor: pointer;
  
  }
  .form-dropdown {
   
    margin:13px 0 10px 0;
    color: #384245;
    font-size: .8em;
    font-family: Helvetica,Arial,sans-serif;
  }
  
  input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #384245;
    font-size: .8em;
    font-family: Helvetica,Arial,sans-serif;
    background-color: #f3f5f6;
    padding: .75em;
    border: 1px solid #dee4e7;
    outline: 0;
    border-radius: .25em;
  }
  
  main h2 {
    margin-top:70px;
    margin-left: 50px
  }
  
  form {
  padding: 10px 0 0 0;
  margin-top: 70px !important;
  }

  /* Save button for brackets */

  button.save.button{
    text-align: center;
    color: #fff;
    background-color: #F7931D;
    border: 1px solid #dee4e7;
    outline: 2px;
    border-radius: .25em;
    font-family: Helvetica,sans-serif;
    font-size: 1em;
    width:80px;
    height:30px;
    padding-bottom: 10px;
  }

  button.save.button:hover { 
    background-color: #191E21;
    color: #F7931D;
    cursor: pointer;
  
  }