/* Global layout */
body,html{
  min-height: 100%;
}
body {
  background: #191E21 url("/images/overwatch-logo.jpeg") 50% 50% no-repeat;
  background-size: cover;
  }

main {
  font-family: 'Oswald', sans-serif;
  color: white;
  width: 1050px;
  height: 100vh;
  overflow-y: scroll;
  margin: auto;
  padding-right:20px;
  padding-left:20px;
  padding-top: 67px;
  padding-bottom: 140px;
  background-color: rgba(36, 41, 45, 0.9);
  border-left: solid 1px #F7931D;
  border-right: solid 1px #F7931D;
  }

p {
  text-align: center;
}

  ::-webkit-scrollbar {
    display: none;
}

  main h1 {
    text-align: center;
    padding:20px;
  }

  main h3 {
    text-align: center;
    padding:20px;
  }

  div img{
    max-width: 100%;
    max-height: 100%;
    border: solid 1px #F7931D;
  }

  div.container.index p{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a.btn.btn-default{
    float: left;
    margin-left: 25%;
    background-color: #474D57;
    color:white;
    border-color: #C0C1C2;
  }

  div button.how-it-works{
    float: right;
    margin-right: 20%;
    background-color: #474D57;
    color:white;
    border-color: #C0C1C2;
  }

/* Nav Bar Buttons */

#nav-bar {
  background: #191E21;
  color: #F7931D;
  text-align: center;
  font-size: 30px;
  position: fixed;
  width: 100%;
}

nav.navbar.navbar-dark{
  position: fixed;
  width:100%;
  z-index: 1;
}

nav.navbar.navbar-dark img{
  max-height: 50px;
  max-width: 80%;
  margin: 0 auto;
}

nav p{
  font-size: 12px;
  color: white;
  float: left;
  padding-top: 20px;
}

  /* Tournament Cards */

div.card.mb-3{
  background-color: #474D57;
  margin: auto;
}

div.card.mb-3 div.battlenetid{
  padding-bottom: 10px;
}

div.card.mb-3 div.card-header {
  background-color: #F7931D;
}

div.row{
  padding-top: 20px;
}

/* Bootstrap Table */

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #474D57;
}

/* Enroll Button */

div.enroll-now{
  text-align: center;
}

div.enroll-now button{
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: Helvetica,sans-serif;
}

div.enroll-now button:active {
  background-color: #191E21;
  color: #F7931D;
  cursor: pointer;

}

/* Twitch Video Player & Chat Embeds */

.container-fluid, .embeds {
  height: 100% !important;
}

iframe{
  padding: 0 !important;
  height: 100% !important;
  width: 100%;
}

iframe#video{
  margin: 0 auto;
}

@media (max-width: 992px){
  #chat{
    display: none;
  }
}

/* Tournament Listing for Individual Users */

.tourney-list{
  margin: 0 auto;
}

.sub-header{
  text-align: left;
  padding-bottom: 10px
}

.nav-tabs li{
  margin: 5px;
  font-size: 20px;
}

.nav-tabs a{
  color: #DDDDDD;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

a.active {
  background-color: #DDDDDD;
  color: black;
}

.fa-arrow-circle-right{
  font-size: 25px;
  padding-left: 2px;
}

thead.list{
  font-size:20px
}

/* tournament_view buttons */

.staging-buttons{
  text-align: center;
}

.start-tournament{
  margin: -5px auto 10px auto;
  display: inline-block;
}

.start-tournament button{
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  width: 135px;
  height: 45px;
}

button.start-tournament {
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  width: 135px;
  height: 45px;
}

.start-tournament button:hover { 
  background-color: #191E21;
  color: #F7931D;
  cursor: pointer;
}

button.start-tournament:hover { 
  background-color: #191E21;
  color: #F7931D;
  cursor: pointer;
}

/* share button on tournament_view */

#share {
  -webkit-transition: width 0.65s ease;
  -moz-transition: width 0.65s ease;
  -o-transition: width 0.65s ease;
  transition: width 0.65s ease;
  
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 30px;
  height: 45px;

  width: 0px;
  
}

#share.in {
  width: 298px;
}

#share > * {
  position: relative;
  margin-left: 3px;
}

#share > i,  #share > a{
  font-size: 30px;
  color: #F7931D;
  top: calc(50% - 17px);
}

#share > a {
  text-decoration: none;
}

#share input{
  width: 150px;
  height: 35px;
  text-align: center;
}

#share i:hover{
  color: #dee4e7;
}

div.share-button {
  text-align: center;
}

/* swap players */

div.container.player > span.selected {
  background-color:#F7931D;
  border-radius: 2px
}

div.container.player > span {
  padding-left:  2px;
  padding-right:  2px;
}

.swap-table{
  margin: 0 auto;
}
/* Admin Options */

.admin-options{
  text-align: center;
}

div.admin-options > button{
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  margin: 0 5px;
}

div.admin-options > button > i{
  font-size: 45px;
  padding: 2px;
}

div.admin-options > button:hover{
  background-color: #191E21;
  color: #F7931D;
}

/* Avatar image on Tournaments_view */
img.avatar {
  height: 30px;
  width: 30px;
  margin-right: 6px;
  border-radius: 3px;
}

/* Class Icons */

div.container.player > span{
  top: 3px;
  font-size: 18px;
}

img.player-class{
  border: none;
  height: 25px;
  width: 25px;
  margin-right: 2px;
}

/* Team Summary */

tbody > tr, thead > tr{
  text-align: center;
}

/* Email Alert Players */

form#email-form{
  margin: 0 auto;
}

form#email-form > input {
  text-align: center;
}