/* Global layout */
body,html{
  min-height: 100%;
}

body {
  background: #191E21 url("/images/overwatch-logo.jpeg") 50% 50% no-repeat;
  background-size: cover;
  }

main {
  font-family: 'Oswald', sans-serif;
  color: white;
  width: 1050px;
  height: 100vh;
  overflow-y: scroll;
  margin: auto;
  padding-right:20px;
  padding-left:20px;
  padding-top: 67px;
  padding-bottom: 140px;
  background-color: rgba(36, 41, 45, 0.9);
  border-left: solid 1px #F7931D;
  border-right: solid 1px #F7931D;
  }

p {
  text-align: center;
}

  ::-webkit-scrollbar {
    display: none;
}

  main h1 {
    text-align: center;
    padding:20px;
  }

  main h3 {
    text-align: center;
    padding:20px;
  }

  div img.banner{
    max-width: 100%;
    max-height: 100%;
    border: solid 1px #F7931D;
  }

  div.container.index p{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  div.index-buttons{
    text-align: center;
  }

  a.btn.btn-default{
    background-color: #F7931D;
    color:white;
    border-color: #C0C1C2;
  }

  a.btn.btn-default.index-page{
    width: 160px;
    background-color: #F7931D;
    color:white;
    border-color: #C0C1C2;
  }

  div.index-buttons-line{
    text-align: center;
  }

  div.index-button{
    display: inline-block;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

/* Nav Bar Buttons */

#nav-bar {
  background: #191E21;
  color: #F7931D;
  text-align: center;
  font-size: 30px;
  position: fixed;
  width: 100%;
}

nav.navbar.navbar-dark{
  position: fixed;
  width:100%;
  z-index: 1;
  filter: contrast(125%) brightness(103%) sepia(25%);
  filter: drop-shadow(16px 5px 16px #000000);
  padding-top: 0;
  padding-bottom: 0;
}

nav.navbar.navbar-dark img{
  max-height: 100%;
  max-width: 80%;
  margin: 0 auto;
  filter: drop-shadow(16px 5px 16px rgb(46, 46, 46));
  overflow: hidden;

}

nav p{
  font-size: 12px;
  color: white;
  float: left;
  padding-top: 20px;
}

button.navbar-toggler{
  margin: 10px;
}

  /* Tournament Cards */

div.card.mb-3{
  background-color: #474D57;
  margin: auto;
}

div.card.mb-3 div.battlenetid{
  padding-bottom: 10px;
}

div.card.mb-3 div.card-header {
  background-color: #F7931D;
}

div.row{
  padding-top: 20px;
}

input.make-new{
  color: #fff;
  margin: auto 0;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  width: 135px;
  height: 45px;
}

/* Login Page */

button.submit{
  color: #fff;
  margin: auto 0;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  width: 135px;
  height: 45px;
}

div.submit-button{
  text-align: center;
}

/* Bootstrap Table */

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #474D57;
}

/* Enroll Button */

div.enroll-now{
  text-align: center;
}

div.enroll-now button{
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: Helvetica,sans-serif;
}

div.enroll-now button:active {
  background-color: #191E21;
  color: #F7931D;
  cursor: pointer;

}

/* Twitch Video Player & Chat Embeds */

.container-fluid, .embeds {
  height: 100% !important;
}

.container-fluid > h2{
  margin-top: 25px;
}

/* .container-fluid.tournament-view{
  margin-bottom: 20px;
} */

iframe{
  padding: 0 !important;
  height: 100% !important;
  width: 100%;
}

iframe#video{
  margin: 0 auto;
}

@media (max-width: 992px){
  #chat{
    display: none;
  }
}

/* Tournament Listing for Individual Users */

.tourney-list{
  margin: 0 auto;
}

.sub-header{
  text-align: left;
  padding-bottom: 10px
}

.nav-tabs li{
  margin: 5px;
  font-size: 20px;
}

.nav-tabs a{
  color: #DDDDDD;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

a.active {
  background-color: #DDDDDD;
  color: black;
}

.fa-arrow-circle-right{
  color: #F7931D;
  font-size: 25px;
  padding-left: 2px;
}

thead.list{
  font-size:20px
}

/* tournament_view buttons */

.staging-buttons{
  text-align: center;
}

.start-tournament{
  margin: -5px auto 10px auto;
  display: inline-block;
}

.start-tournament button{
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  width: 135px;
  height: 45px;
}

button.start-tournament {
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  width: 135px;
  height: 45px;
}

.start-tournament button:hover { 
  background-color: #191E21;
  color: #F7931D;
  cursor: pointer;
}

button.start-tournament:hover { 
  background-color: #191E21;
  color: #F7931D;
  cursor: pointer;
}

/* share button on tournament_view */

#share {
  display: none;
  white-space: nowrap;
  height: 45px;
  text-align: center;
}

#share > * {
  position: relative;
  margin-left: 3px;
}

#share > i,  #share > a{
  font-size: 30px;
  color: #F7931D;
  top: calc(50% - 17px);
}

#share > a {
  text-decoration: none;
}

#share input{
  width: 150px;
  height: 35px;
  text-align: center;
}

#share i:hover{
  color: #dee4e7;
}

div.tournament-view-button {
  text-align: center;
}

/* swap players */

div.container.player > span.selected {
  background-color:#F7931D;
  border-radius: 2px
}

div.container.player > span {
  padding-left:  2px;
  padding-right:  2px;
}

.swap-table{
  margin: 0 auto;
}
/* Admin Options */

.admin-options{
  text-align: center;
  margin-top: 20px;
}

div.admin-options > button{
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  margin: 0 5px;
}

div.admin-options > button > i{
  font-size: 45px;
  padding: 2px;
}

div.admin-options > button:hover{
  background-color: #191E21;
  color: #F7931D;
}

/* Avatar image on Tournaments_view */
img.avatar {
  height: 30px;
  width: 30px;
  margin-right: 6px;
  border-radius: 3px;
}

/* Class Icons */

div.container.player > span{
  top: 3px;
  font-size: 18px;
}

img.player-class{
  border: none;
  height: 25px;
  width: 25px;
  margin-right: 2px;
}


/* Email Alert Players */

form#email-form{
  margin: 0 auto;
}

#highlight-form > *{
  margin: 5px;
}

/* 404 Page */
div.image-404{
  text-align:center;
}

/* Flash Alert */
div.alert.alert-warning{
  padding: 20px;
  color: #fff;
  background-color: #474D57;
  border-color: #F7931D;
  
  border-width:2px;
  width: 70%;
  margin: 0 auto;
}

/* header for login and register */
#ui-header > h2{
  margin-bottom: 0;
}

#ui-header > p{
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-right: 5%;
  margin-top: -20px;
}

#ui-header > p > a{
  color: #F7931D;
}

.section-header{
  margin-top: 30px;
}



