

h6 { 
    font-size: 16px; 
    font-family: Helvetica,sans-serif;

}

.profile-card {
    margin: auto;
    width: 500px;
    height: 400px;
    font: 12px "Myriad Pro";
}
.profile-card .profile-cover {
    background: url("/images/banner.jpg");
    position: relative;
    height: 230px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */

    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari and Chrome */
    -o-transition: all .5s; /* Opera */
}
.profile-card .profile-cover:hover {
    filter: none;
    filter: none;
    -webkit-filter: none;

}
.profile-card .profile-cover .profile-avatar {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: content-box;    
    width: 125px;
    height: 125px;
    position: absolute;
    margin: 25px auto 0;
    overflow: hidden;
    left: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari and Chrome */
    -o-transition: all .5s; /* Opera */
}
.profile-card .profile-cover .profile-avatar:hover {
    margin-top: 23px;
}


.profile-card .profile-cover .profile-details {
    background: rgba(0,0,0,0.4);
    border-top: 1px solid rgba(0,0,0,0.5);
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 7px;
}

.profile-card .profile-info {
    background: #F7931D;
    color: #ffffff;
    padding: 10px;
    font-family: Arial;
    text-align: justify;
}

.profile-card .profile-info .info-area {
    padding: 0 10px 5px;
}


.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #F7931D;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.character-icon{
    width: 40px;
    height:40px;
    background: #ccc;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

a:hover{
    color:#F7931D;
    text-decoration: none;
}

/* Tournament Listing for Individual Users */

.tourney-list{
    margin: 0 auto;
  }
  
  .sub-header{
    text-align: left;
    padding-bottom: 10px
  }
  
  .nav-tabs li{
    margin: 5px;
    font-size: 20px;
  }
  
  .nav-tabs a{
    color: #DDDDDD;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  a.active {
    background-color: #DDDDDD;
    color: black;
  }
  
  .fa-arrow-circle-right{
    color: #F7931D;
    font-size: 25px;
    padding-left: 2px;
  }
  
  thead.list{
    font-size:20px
  }