
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
  }

/* Modal Content Box */
.modal-content {
    background-color: black;
    /* margin: 15% auto; 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    /* -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out; */
    display: inline-block;
    vertical-align: middle;
}

.modal-content form input{
    width: 50%;
    height: 10%;
    bottom: 0;
    margin-top: 25px;
    margin-left: 20px;
}

.modal-content form button{
    color: #fff;
    background-color: #F7931D;
    border: 1px solid #dee4e7;
    outline: 2px;
    border-radius: .25em;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    width: 135px;
    height: 45px;
    padding: 10px;
}

.modal-content form button:hover{
background-color: #191E21;
  color: #F7931D;
  cursor: pointer;
}

.add-highlights{
 text-align: center;
  width:84%
}

.send-email{
    text-align: center; 
    width:100%;
}

input.send-email{
    color: #fff;
    background-color: #F7931D;
    border: 1px solid #dee4e7;
    outline: 2px;
    border-radius: .25em;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    width: 135px !important;
    height: 45px !important;
    padding: 10px;
    margin-top: 5px !important;
    margin-right: 450px !important;
}

/* Team Summary */
#role-summary-modal > .modal-content{
    transform: translate(-50%, -60%);
    position: fixed;
    height: 85%;
    top: 60%;
    left: 50%;
    width: 60%;
  }

div.link-to-teams{
    text-align: center;
    margin-bottom: 10px;
}

div.link-to-teams > a{
    font-size: 15px;
    color:white;
    margin-left: 10px;
}

div.link-to-teams > a:hover{
    font-size: 15px;
    color:#F7931D;
}

div.role-summary-container{
    margin: 0 auto;
    overflow: auto;
    height: 75%;
    background-color: #191E21;
    padding: 10px;
    border: 1px #dee4e7 solid;
}

#team-summary {
    table-layout: fixed;
}

.summary-modal-text{
    padding: 5px
}

.center{
    text-align: center
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

/* Used for sliding effect on modal */
@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-100%); }
    100% { opacity: 1; -moz-transform: translateY(0); }
}

/* Team Levels div */
div.avg-team-levels{
  position: relative;
  display: none;
  height: 50%;
  margin: 15px;
  background-color: #dee4e7;
  border-radius: 5px;
}

div.avg-team-levels > .chart-wrapper{
  padding-top: 2em;
  top: 20%;
  height: 100%;
  /*position: relative;*/
}

.container-fluid {
  display:none;
  margin-bottom: 7em;
}

hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  background-color: #F7931D;
} 

div.tournament-view > h2 {
  margin-top: 30px;
}

.tournamentinfo{
  /* padding: 15px; */
  /* border: 3px solid #F7931D; */
  background-color:rgb(25, 30, 33, 0.9);
  text-align: center;
  width: 90%;
  height:auto;
  margin: 0 auto 30px;
}

h6{
  color:#F7931D;
  font-size: 19px;
}

/* Admin Options */
.admin-options{
  text-align: center;
  margin-top: 20px;
}
  
div.admin-options > button{
  color: #fff;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  margin: 0 5px;
  width: 65px;
  padding: 5px 0;
}
  
div.admin-options > button > i{
  font-size: 45px;
  padding: 2px;
}
  
div.admin-options > button:hover{
  background-color: #191E21;
  color: #F7931D;
}


/* Swap Players */
div.container.player > span.selected {
  background-color:#F7931D;
  border-radius: 2px
}
  
div.container.player > span {
  padding-left:  2px;
  padding-right:  2px;
}

.swap-table{
  margin: 0 auto;
}
  

/* Tournament Cards */
div.card.mb-3{
  background-color: #474D57;
  margin: auto;
}

div.card.mb-3 div.battlenetid{
  padding-bottom: 10px;
}

div.card.mb-3 div.card-header {
  background-color: #F7931D;
}

div.row{
  padding-top: 20px;
}

input.make-new{
  color: #fff;
  margin: auto 0;
  background-color: #F7931D;
  border: 1px solid #dee4e7;
  outline: 2px;
  border-radius: .25em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  width: 135px;
  height: 45px;
}

/* Tournament View Buttons */
div.tournament-view-button{
    text-align: center;
}

/* Avatar image on Tournaments_view */
img.avatar {
    height: 30px;
    width: 30px;
    margin-right: 6px;
    border-radius: 3px;
}

/* Class Icons */
div.container.player > span{
    top: 3px;
    font-size: 18px;
}
  
img.player-class{
    border: none;
    height: 25px;
    width: 25px;
    margin-right: 2px;
}

img.player-class:hover{
  filter: sepia() saturate(100000) hue-rotate(320deg)
}

/* Email Alert Players */

form#email-form{
    margin: 0 auto;
  }
  
  #highlight-form > *{
    margin: 5px;
  }  

/* Twitch Video Player & Chat Embeds */
.container-fluid, .embeds {
    height: 100% !important;
  }
  
iframe{
padding: 0 !important;
height: 100% !important;
width: 100%;
}

iframe#video{
margin: 0 auto;
}

@media (max-width: 992px){
    #chat{
        display: none;
    }
}

/* Share Button on Tournament View */
#share {
    display: none;
    white-space: nowrap;
    height: 45px;
    text-align: center;
  }
  
  #share > * {
    position: relative;
    margin-left: 3px;
  }
  
  #share > i,  #share > a{
    font-size: 30px;
    color: #F7931D;
    top: calc(50% - 17px);
  }
  
  #share > a {
    text-decoration: none;
  }
  
  #share input{
    width: 150px;
    height: 35px;
    text-align: center;
  }
  
  #share i:hover{
    color: #dee4e7;
  }
  
  div.tournament-view-button {
    text-align: center;
  }